.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-name {
    font-size: 28px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.has-gradient-text {
    color: white;
}

.board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    min-height: 0;

    .board-bar {
        background: rgba(gray, 0.7);
        padding: 8px 15px;

        .board-name {
            font-size: 20px;
            font-weight: bold;
            color: white;
        }
    }

    .board-wrapper {
        display: flex;
        flex-grow: 1;
        overflow-x: auto;

        .board-columns {
            display: flex;
            flex-grow: 1;

            .board-column {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                flex-basis: 0;

                min-width: 300px;
                margin: 50px;
                padding: 25px;

                border-radius: 4px;

                background: rgba(gray, 0.7);

                &:not(:first-child) {
                    margin-left: o;
                }

                .board-column-title {
                    font-size: 20px;
                    font-weight: 300;
                    font-family: "Leto", sans-serif;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    color: white;
                    border-bottom: 1px white solid;
                }

                .task-container {
                    flex-grow: 1;

                    .task {
                        display: flex;
                        padding: 12px 10px;
                        background: white;
                        border-bottom: solid 1px #dddddd;
                        border-radius: 4px;
                        box-shadow: 4px 7px;
                        margin-bottom: 15px;
                        
                    }
                }
            }
        }
    }
}
